.Heading {
    background-color: #FF7B54;
    border-width:10px;
    border-style:solid;
    border-color:black;
}
.profilelinkedin {
    background-color: #FFB26B;
}
.address {
    background-color: #FF577F;
}
.introduction {
    background-color: #DFD3C3;
    font-size: 35px;
}
.skills {
background-color:#FF8787;
font-size: 35px;
}
.hobbies {
background-color:#D58BDD ;
}




body {
    background-image: url(whiterose.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Comic Sans MS", "Comic Sans", sherif;

    
}
img {
    animation-name: animate;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-play-state: running;
    border-radius: 50%;
}
@keyframes animate{
    0%{
        clip-path: circle(0% at 50% 50%); 
    }
    100%{
        clip-path: circle(100% at 50% 50%);
    }
}
p{
    color: black;
    font-family: cursive;
    
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: black;
    width: 5%;
}

h1 {
    color: black; font-size: 70px;
    font-family: cursive;
    animation-name: animate;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-play-state: running;
}
h2 {
    color: black; font-size: 50px;
    


}
h3 {

    color: black;font-size: 50px;
    animation-name: animate;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-play-state: running
}
